:root {
    --main_font_color: white;
}

*, *::before, *::after {box-sizing: inherit}

html {
  box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Questrial, sans-serif;
    background: url(Photos/kobu-agency-7okkFhxrxNw-unsplash.jpg), #373888;
    background-blend-mode: soft-light;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heading {
    color: var(--main_font_color);
    font-size: 1.9em;
    margin-top: 4%;
}

.tagline {
    color: var(--main_font_color);
    font-style: italic;
    font-size: 1.15em;

}

.card {
    margin: 10vh auto;
    width: 80%;
    opacity: 0.90;
    border-radius: 5px;
    margin-top: 3%;
    background-color: #1f1f4b;
    font-size: 1.2em;
    padding-top: 1em;
}

label {
    display: block;
}

.button  {
background-color: #37af65;
color: var(--main_font_color);
font-size: 0.9em;
border-style: none;
border-radius: 2px;
width: 90%;
padding: 1em 0;
margin: 1.5em 0
}

textarea {
    width: 100%;
    font-family: Questrial, sans-serif;
    line-height: 1.4em;
}

.label_intro {
    text-align: left;
    padding-top: 1.5em;
    padding-bottom: 0.5em;

}

.inner_card {
    width: 90%;
    margin: 0 auto;
    color: var(--main_font_color);
    text-align: left;
}

.input-box {
    width: 100%;
    font-family: Questrial, sans-serif;
    line-height: 1.4em;
}

.selectors {
    width: 100%;
}